/auto/
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.pdfsync
/*~
*.aux
*.pdf
*.toc
*.html
*.idx
*.ilg
*.ind
*.fmt
*.dvi
_region_.*
.DS_Store
/listing.json
/test-basic.md
/test-basic.tex
/test.json
/test.txt
